.books-header {
  display: flex;
  background-color: var(--clr1);
  color: var(--clr1bg);
  padding: 1em;
}

.index-title {
  text-align: center;
  margin: 0 0 1em;
  font-size: 4rem;
}

.books-nav {
  display: flex;
}

.books-nav a {
  padding: 1em;
}

.active {
  text-decoration: underline;
  color: lightblue;
}

@media (max-width: 720px) {
  .books-header {
    color: var(--clr2bg);
  }
}
