.book-detail {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  background-color: gainsboro;

  border-radius: 1em;
  padding: 2em;
}

.book-detail li {
  display: inline;
  padding: 0.1em;
}

.prev-next-btns {
  display: flex;
  justify-content: space-between;
}

.red {
  background-color: red;
}

.green {
  background-color: greenyellow;
}
